# This is Git's per-user configuration file.
[user]
	email = ztruth@qq.com
	name = zllynx

[merge]
	tool = custom

[mergetool]
  prompt = false
  keepBackup = false

[mergetool "nvim"]
  cmd = "nvim -d -c \"wincmd l\" -c \"norm ]c\" \"$LOCAL\" \"$MERGED\" \"$REMOTE\""
[mergetool "custom"]
	cmd = code --wait $LOCAL $BASE $REMOTE $MERGED || nvim -d $LOCAL $BASE $REMOTE $MERGED || vim -d $LOCAL $BASE $REMOTE $MERGED
	trustExitCode = true
[commit]
	template = ~/.gitmessage
[core]
	pager = delta
	quotepath = false
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	pager = less --mouse --wheel-lines=3 -R -F -X
	line-numbers = true
	side-by-side = true
	line-fill-method = spaces
	syntax-theme = Coldark-Dark
	file-style = omit
	file-decoration-style = omit
	hunk-header-style = file line-number syntax
